[Desktop Entry]
Version=1.0
Name=VSCodium
Type=Application
Comment=Free/Libre Open Source Software Binaries of VSCode
Exec=codium %F
TryExec=codium
Icon=vscodium
Categories=Editor;Development;IDE;
Keywords=editor;development;ide;
