[Desktop Entry]
Version=1.0
Type=Application
Name=Cordless
GenericName=CLI Discord Client
Comment=The Discord terminal client you never knew you wanted
Categories=Messaging;Social;
Keywords=discord;cli chatting;cli discord;tui;client;
TryExec=cordless
Exec=cordless
MimeType=text/plain;inode/directory;
